asgiref==3.7.2
certifi==2023.5.7
channels==4.0.0
charset-normalizer==3.1.0
distlib==0.3.7
Django==5.0
django-crispy-forms==2.1
filelock==3.13.1
idna==3.4
pexpect==4.8.0
Pillow==10.1.0
platformdirs==4.1.0
ptyprocess==0.7.0
python-decouple==3.8
requests==2.31.0
sqlparse==0.4.3
Strip==0.0.1.dev14
stripe==5.5.0
tzdata==2022.7
urllib3==2.0.3
virtualenv==20.25.0

