<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">

    <a class="navbar-brand main-heading" style="margin-left: 20px;"> 
            
      <h2 style="margin-left: 15px; background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      
       padding: 9px; border-radius: 15px; color:white; "> Chainocity</h2> 
    
    </a>
  
    
    
    
    
  
  
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
  
      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
  
        
        <ul class="navbar-nav ms-auto">

          &nbsp;     &nbsp;     &nbsp; 
  
  
           <li class="nav-item">
      
            <a class="btn btn-outline-primary" type="button" href="{% url 'dashboard' %}" >Dashboard</a>
  
          </li> 
  
  
          &nbsp;     &nbsp;     &nbsp; 
  
  
          <li class="nav-item">
      
            <a class="btn btn-outline-primary" type="button" href="{% url 'profile' %}">Profile</a>
  
          </li> 

          <!-- &nbsp;     &nbsp;     &nbsp; 
  
  
          <li class="nav-item">
      
            <a class="btn btn-primary navbar-btn" type="button" href="{% url 'mylink' %}">My Affiliate link</a>
  
          </li> 
          
          &nbsp;     &nbsp;     &nbsp; 
  
          <li class="nav-item">
  
            <a class="btn btn-primary navbar-btn" type="button" href="{% url 'earning' %}">Affiliate Earnings</a>
  
          </li> -->
  
  
          &nbsp;     &nbsp;     &nbsp; 

          <li class="nav-item">
  
            <a class="btn btn-outline-dark" type="button" href="{% url 'logout' %}">Logout</a>
  
          </li>
  
  
          &nbsp;     &nbsp;     &nbsp; 
          
  
        </ul>
      
        
      </div>
  
  
  </nav>
  
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>



  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"

  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"

  crossorigin="anonymous">

  </script>
</html>


