{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css" >
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >
  <title>Chainocity | Checkout</title>
</head>
<body>

  {% include 'base.html' %}

  <br>
  <h2 class="text-center">Checkout</h2>
  <br>

  <div style="display: flex; justify-content: center;">
    <p class="text-danger">Note: Order automatically will be cancelled on payment method of JazzCash and Easypaisa </p>
  </div>
  
  <br>


  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Checkout Info</h4>
      
      <p class="card-text">
        <form method="post" action="{% url 'checkout' %}">
          {% csrf_token %}
      
          <div class="form-group">
            <label for="{{ form.address.id_for_label }}" style="background-color: #FBAB7E;
            background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
            padding: 5px; color: white; border-radius: 10px;">Address:</label>
            
              {{ form.address  }}
            
            
          </div>

          <br>
      
          <div class="form-group">
            <label for="{{ form.phone_number.id_for_label }}" style="background-color: #FBAB7E;
            background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
            padding: 5px; color: white; border-radius: 10px;">Phone Number:</label>
            {{ form.phone_number }}
          </div>

          <br>
      
          <div class="form-group">
            <label for="{{ form.payment_type.id_for_label }}" style="background-color: #FBAB7E;
            background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
            padding: 5px; color: white; border-radius: 10px; margin-bottom: 10px;" >Payment Type:</label>
            {{ form.payment_type }}
          </div>

          <br>
      
          <!-- Add other fields as needed -->
      
          <button type="submit" class="btn btn-outline-success">Place Order</button>
        </form>
      </p>
      <br>

      <h3>Your Cart:</h3>
<ul>
    {% for cart_item in cart_items %}
        <li>{{ cart_item.product.p_title }} - Quantity: {{ cart_item.quantity }} - Price: {{ cart_item.total_price }}</li>
    {% endfor %}
</ul>

    </div>
  </div>


 




  
</body>
</html>