 {% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >
  <title>Document</title>
</head>
<body>
  {% include 'base.html' %}
  
  <br>

  <!-- <div class="container bg-white shadow-md p-5 form_layout"> 

    <h2>Dashboard</h2>


    <br>
    <a href="{% url 'logout' %}" class="btn btn-outline-warning">Logout</a>
    <br>
    <hr>
    <br>

  </div>
  <br> -->

  

 
  {% for product in Products %}
  <div class="container bg-white shadow-md p-5 form_layout"> 


          <h5>Title: {{product.p_title}}</h5>

          {% if product.p_image %}
      <img src="{{ product.p_image.url }}" alt="Product Image" style="max-width:100px ; max-height:100px ;">
    {% endif %}

          <p>Describtion: {{product.p_desc}}</p>

          <p>cost: {{product.p_price}} Rs</p>

          <p>left: {{product.p_stock}}</p>

    </div>
    <br> 
    {% endfor %}
</body>
</html>