 {% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css" >

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >
  <title>Chainocity | Dashboard</title>
</head>



<body style="background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
">


   {% if user.is_authenticated %}<!-- ///////////    if user is logged in        /////// -->



   {% include 'base.html' %}

  <div class="dropdown" >
    <button class="btn btn-secondary dropdown-toggle" style="margin: 10px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for cat in Categorys %}
      <li><a class="dropdown-item" href="{% url 'category' ct=cat.name %}">{{cat.name}}</a></li>
      {% endfor %}
      
    </ul>

    <!-- Cart button -->
    <a href="{% url 'cart' %}" class="btn btn-outline-dark" style="text-decoration: none;">Cart <i class="fa-solid fa-cart-shopping"></i>
      <span  id="cart_quantity">    {{ cart_items_count }}    </span>
    </a>
    
  </div>
  
 
  
    
  
  <h2 class="text-center" style="color: white;">Dashboard </h2>
  <br>

  <div class="text-center">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <p class="text-primary-emphasis">{{ message }}</p>
      </li>
    {% endfor %}
  </ul>
{% endif %}

</div>



{% else %}    <!-- ////////////////////////////////   if user is not logged in      -->
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">

  <a class="navbar-brand main-heading" style="margin-left: 20px;" href="{% url 'home' %}"> 
            
    <h2 style="margin-left: 15px; background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
     padding: 9px; border-radius: 15px; color:white; "> Chainocity</h2> 
  
  </a>

  
  
  
  


  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>

  </button>


    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">

      
      <ul class="navbar-nav ms-auto">

        &nbsp;     &nbsp;     &nbsp; 


         <li class="nav-item">
    
          <a class="btn btn-outline-primary" type="button" href="{% url 'register' %}" >Register</a>

        </li> 


        &nbsp;     &nbsp;     &nbsp; 


        <li class="nav-item">
    
          <a class="btn btn-outline-primary" type="button" href="{% url 'my_login' %}" style="margin-right: 10px;">Login</a>

        </li> 

        


        

      </ul>
    
      
    </div>


</nav>
<br>
<br>
{% endif %}


<div style="display: flex; flex-wrap: wrap;">
  {% for product in Products %}
   
  <div class="container bg-white shadow-md p-5 " style="flex: 1 0 48%; margin: 10px; border-radius: 15px;" > 


          <h5 style="background-color: #FBAB7E;
          background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
          padding: 5px; color: white; border-radius: 10px; display: flex; justify-content:center ;">Title: {{product.p_title}}</h5>

          
          <div style="display: flex; justify-content: center;">
          {% if product.p_image %}
          <img src="{{ product.p_image.url }}" alt="" style="font-size: 5vw; height: 50vh;">
          {% endif %}
          </div>

          <br>
    
          <!-- <div style="display: flex; flex-wrap: wrap; width: 100%; max-height: 10vh; overflow: hidden; scroll-behavior: smooth;">
            <p style="margin-top: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <strong style="color: red;">Description:</strong> {{product.p_desc}}
            </p>
        </div> -->
          

          <p><strong style="color: red;">Cost:</strong> <strong style="color: orange; font-size: 1.5rem;">{{product.p_price}}</strong> Rs</p>

          <p><strong style="color: red;">Left:</strong> {{product.p_stock}}</p>

          <br>
          <a href="{% url 'product' pk=product.id %}">
            <button type="button" class="btn btn-outline-info">View Product</button>
          </a>
          <br>

    </div>
    <br> 
    {% endfor %}
  </div>







  
  
  
 
  


 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  
    crossorigin="anonymous">
  
    </script>
    

    
</body>






</html>