{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >
  

  <title>Chainocity | Home</title>
</head>




  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">

    <a class="navbar-brand main-heading"> 
            
      <h2 style="margin-left: 15px;"> Chainocity</h2> 
    
    </a>


    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>

    </button>


      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">

        
        <ul class="navbar-nav ms-auto">


          &nbsp;     &nbsp;     &nbsp; 


          <li class="nav-item">
      
            <a class="btn btn-primary navbar-btn" type="button" href="{% url 'register' %}">Register</a>

          </li>


          &nbsp;     &nbsp;     &nbsp; 
          

          <li class="nav-item">

            <a class="btn btn-primary navbar-btn" type="button" href="{% url 'my_login' %}">Login</a>

          </li>


          &nbsp;     &nbsp;     &nbsp; 
          

        </ul>
      
        
      </div>


</nav>

<body style="background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
">

  <br>
  <br>

  <div class="text-center">

    <br>
    <br>

<div style="display: flex; justify-content: center;">
  <h2 style="color: white; " > "Chainocity.... A home for your all your needs." </h2>
  </div>
  
<br>
    <br>

    <div style="display: flex; ">

      <div style="display: flex; justify-content: center; max-width: 70%; align-items: center;">
        <p style="color: white; max-width: 80%; font-size: 18px;">
          Embark on a shopping extravaganza at our online haven, where diversity meets quality! Explore an extensive array of must-haves, from cutting-edge electronics to fashion-forward essentials. Elevate your experience with seamless navigation, exclusive deals, and a symphony of convenience. Welcome to your ultimate destination for all things fabulous!
        </p>
      </div>
      <div style="max-width: 30%;">
        <img style="height: 300px; width: 300px; border-radius: 10px;" alt="img1" src=" {% static 'images/img1.jpg' %}">

      </div>
      <br>
      
      
    </div>

    <br> <br><br><br>
    
   
    <div style="display: flex; justify-content: center;">
      <h2 style="color: white; " > "Our Referral Program" </h2>
      </div>

      <br><br><br>

    <div style="display: flex; ">

      <div style="max-width: 40%; ">
        <img style="height: 300px; width: 400px; border-radius: 10px; margin-left: 30px;" alt="img1" src=" {% static 'images/img2.jpg' %}">

      </div>

      <div style="display: flex; justify-content: center; max-width: 60%; align-items: center;">
        <p style="color: white; max-width: 80%; font-size: 18px;">
          Join our referral program and turn your connections into rewards! Share your favorite products, invite friends, and unlock exclusive perks with every successful referral. Start sharing, start earning – it's that simple!
        </p>
      </div>
      
      
      
      
    </div>

    

    
      
    <br><br><br><br><br><br>
    
    <div>
      <p style="color: white; ">
        <strong>Join now!!! what are you waiting for?</strong> </p>
      <a class="btn btn-outline-primary" type="button" href="{% url 'register' %}">Register</a>
    </div>
    

  
  </div>

  <br><br><br><br>

  <div class="card" style="display: flex; justify-content: center; align-items: center;">
    <br>
    <p>Contact us at our Email: usamawaris3133@gmail.com, Phone Number:  03412349992</p>
    <p> Reach us at: Ali park extension Malik Menazir Ali Street E 857 Bedian Road Lahore cantt</p>
    
  </div>












  
  
  <script src="{% static 'js/app.js' %}"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>



  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"

  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"

  crossorigin="anonymous">

  </script>
</body>

</html>