{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >
  

  <title>Chainocity | Home</title>
</head>




  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">

    <a class="navbar-brand main-heading"> 
            
      <h2 style="margin-left: 15px; background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      
       padding: 9px; border-radius: 15px; color:white; "> Chainocity</h2>
    
    </a>


    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>

    </button>


      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">

        
        <ul class="navbar-nav ms-auto">


          &nbsp;     &nbsp;     &nbsp; 


          <li class="nav-item">
      
            <a class="btn btn-outline-primary" type="button" href="{% url 'register' %}">Register</a>

          </li>


          &nbsp;     &nbsp;     &nbsp; 
          

          <li class="nav-item">

            <a class="btn btn-outline-primary" type="button" href="{% url 'my_login' %}">Login</a>

          </li>


          &nbsp;     &nbsp;     &nbsp; 
          

        </ul>
      
        
      </div>


</nav>

<body style="background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
">

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-top: 1px rgb(224, 224, 224) solid;">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      {% for cat in categories %}
  <li class="nav-item active" >
    <a class="nav-link" href="{% url 'category' ct=cat.name %}" style="color: black;">{{ cat.name }}</a>
  </li>
{% endfor %}
      
    </ul>
  </div>
</nav>

  <br>
  <br>

 

    

<div style="display: flex; justify-content: center;">
  <h2 style="color: white; " > "Chainocity.... A home for your all your needs." </h2>
  </div>
  
<br><br>



<div style="display: flex; justify-content: center;">
  <h3 style="color: white; " > "Our Trendy Products" </h3>
  </div>


    <br><br> 



    {% for landing_page in landing_pages %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      
      <div class="carousel-inner" >
        <div class="carousel-item active" >
          <img class="d-block w-100" src="{{ landing_page.img1.url }}" alt="First slide" style="height: 400px; ">
        </div>
        <div class="carousel-item" >
          <img class="d-block w-100" src="{{ landing_page.img2.url }}" alt="Second slide" style="height: 400px; ">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{ landing_page.img3.url }}" alt="Third slide" style="height: 400px; ">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        
      </a>
    </div>
    {% endfor %}

<br><br>


    <div class="card mb-3" >
      <div style="display: flex; justify-content: center;">
        <h2 class="card-header" style="color: black;">Select by Categories</h2>
      </div>
      
      <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">

        {% for category in categories %}
        {% with first_product=category.product_set.first %}
        {% if first_product %}
        
        <div style="margin: 10px;">
          <a href="{% url 'category' ct=category.name %}" style="text-decoration: none;">
        <img src="{{ first_product.p_image.url }}" alt="First Product Image" style="margin: 10px; border-radius: 15px; max-width: 150px;" >
        
        <p class="text-center" style="color: black;">{{category}}</p>
      </a>
        </div>
        
        {% endif %}
        {% endwith %}
        {% endfor %}

      </div>
    
    </div>

    <br><br><br>

    {% for landing_page in landing_pages %}
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      
      <div class="carousel-inner" >
        <div class="carousel-item active" >
          <img class="d-block w-100" src="{{ landing_page.img1.url }}" alt="First slide" style="height: 400px; ">
        </div>
        <div class="carousel-item" >
          <img class="d-block w-100" src="{{ landing_page.img2.url }}" alt="Second slide" style="height: 400px; ">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{ landing_page.img3.url }}" alt="Third slide" style="height: 400px; ">
        </div>
      </div>

      
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        
      </a>
    </div>
    {% endfor %}
    
    
    <br><br><br>





    <div style="display: flex; flex-direction: column; align-items: center;">
      <p style="color: white; ">
        <strong>What are you waiting for? See our Products Now!</strong> 
      </p>
      <a class="btn btn-outline-primary" type="button" href="{% url 'dashboard' %}">Products</a>
    </div>
      

  
 

  <br><br><br><br>

  <div class="card" style="display: flex; justify-content: center; align-items: center;">
    <br>
    <p>Contact us at our Email: usamawaris3133@gmail.com, Phone Number:  03412349992</p>
    <p> Reach us at: Ali park extension Malik Menazir Ali Street E 857 Bedian Road Lahore cantt</p>
    
  </div>












  
  
  <script src="{% static 'js/app.js' %}"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>



  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"

  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"

  crossorigin="anonymous">

  </script>
</body>

</html>